AUTH_SECRET= # Một chuỗi ngẫu nhiên dùng để mã hóa session và bảo mật cookie
NEXT_PUBLIC_BACKEND_URL= # URL của backend

NEXTAUTH_URL=
AUTH_TRUST_HOST=

NEXT_PUBLIC_ADDRESS_API_URL= # Api danh sách các tỉnh thành (sau sáp nhập) 

NEXT_PUBLIC_DEFAULT_WEBNAME= # Tên web, xuất hiện trên thẻ <title>

NEXT_PUBLIC_DEFAULT_DESCRIPTION= # Mô tả mặc định cho trang web dùng cho meta description

AUTH_GOOGLE_ID= # Client ID của ứng dụng Google
AUTH_GOOGLE_SECRET= # Client Secret của ứng dụng Google